In [1]:
import pandas as pd
from tqdm import tqdm
import requests
import time
import random
import os
import PyPDF2

In [ ]:
# typical存在一个重复行，其他内容没有问题

# single文件夹文件个数奇数问题查看
single_letter_file_path = '../sec_single_letter_file/'
single_letter_txt_file_list = [i for i in os.listdir(single_letter_file_path) if i.endswith('.txt')]
print(f'txt file:{len(single_letter_txt_file_list)}')
single_letter_pdf_file_list = [i for i in os.listdir(single_letter_file_path) if i.endswith('.pdf')]
print(f'pdf file:{len(single_letter_pdf_file_list)}')
single_letter_htm_file_list = [i for i in os.listdir(single_letter_file_path) if i.endswith('.htm')]
print(f'htm file:{len(single_letter_htm_file_list)}')


df = pd.read_csv('../comment_info_all.csv').dropna(subset=['pdf_url'])
with tqdm(total=len(df)) as pbar:
    for index ,row in df.iterrows():
        url = str(row['pdf_url'])
        file_name = url.split('/')[-1]
        file_name_endwith = file_name.split('.')[-1]
        file_txt_name = file_name.replace(file_name_endwith, 'txt')
        # print(file_name)
        # print(file_txt_name)
        if file_txt_name in single_letter_txt_file_list:
            df.loc[index, 'txt_file_exist'] = 1
        else:
            df.loc[index, 'txt_file_exist'] = 0

        if file_name_endwith == 'pdf':
            if file_name in single_letter_pdf_file_list:
                df.loc[index, 'pdf_file_exist'] = 1
            else:
                df.loc[index, 'pdf_file_exist'] = 0
        elif file_name_endwith == 'htm':
            if file_name in single_letter_htm_file_list:
                df.loc[index, 'htm_file_exist'] = 1
            else:
                df.loc[index, 'htm_file_exist'] = 0
        else:
            df.loc[index, 'pdf_file_exist'] = 0
            df.loc[index, 'htm_file_exist'] = 0
        
        pbar.update(1)

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.loc[1415, 'pdf_url']

In [ ]:
df['orgin_file_exist'] = df['pdf_file_exist'] + df['htm_file_exist']
tempt_df = df[(df['txt_file_exist']==1) & (df['orgin_file_exist']==0)]
tempt_df['file_index'] = tempt_df['pdf_url'].apply(lambda x: x.split('/')[-1].replace('.txt', ''))
tempt_df['file_index']

In [ ]:
pdf_url_list = df.dropna(subset=['pdf_url']).drop_duplicates('pdf_url')['pdf_url'].tolist()
len(pdf_url_list)

# total = 68517
# dropna = 64662
# duplicate = 48825

In [ ]:
df = pd.read_csv('../comment_info_all.csv').dropna(subset=['pdf_url'])
df[df.duplicated(subset=['pdf_url'], keep=False)].to_csv('./url_duplicate.csv', index=False)

In [5]:
# 查看字数少的情况
df = pd.read_csv('../single_letter_file_length_list.csv')
df

          single_letter_file_list  content_length
0      2007gbforumproceedings.txt           31572
1                     26526-3.txt            1171
2                    26527-47.txt             131
3        26528-2748128-161587.txt            1107
4                    4573-223.txt              93
...                           ...             ...
48775            wswright3014.txt             545
48776            wtarallo3592.txt             111
48777       wtspiropoulos5105.txt             200
48778            ycitizen9115.txt              71
48779               yjuan4901.txt             104

[48780 rows x 2 columns]

In [10]:
df[(df['content_length']<15)]

         single_letter_file_list  content_length
24                   4579-24.txt               0
1066   s70120-7283358-217890.txt               0
1280    s70123-221139-464962.txt               1
2284               s70310-39.txt               0
2285               s70310-40.txt               0
...                          ...             ...
47953             s74510-351.txt               0
48150             s74510-529.txt               0
48233             s74510-603.txt               0
48410             s74510-766.txt               0
48548              s74510-90.txt               0

[319 rows x 2 columns]